In [1]:
import pandas as pd
import numpy as np

In [73]:
df = pd.read_csv('state_VA.csv', low_memory = False)

In [ ]:
# drop columns that are same for all entries
df.drop('state_code',axis = 1,inplace = True)
df.drop('activity_year',axis = 1,inplace = True)
#drop columns that have more then 90% missing values
drop_thresh = df.shape[0]*.9
df = df.dropna(thresh=drop_thresh, how='all', axis='columns').copy()

KeyError: "['state_code'] not found in axis"

changing into categorical data types

In [67]:
df.describe()

,derived_msa-md,county_code,census_tract,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,...,initially_payable_to_institution,aus-1,denial_reason-1,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
count,822454.000000,820483.000000,8.200490e+05,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000,...,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000,822454.000000
mean,48159.346771,51247.377294,5.124773e+10,2.460091,6.522357,1.994312,1.544804,20.182227,1.061098,13.467851,...,13.156941,15.242174,17.961477,5380.516108,34.772258,96202.359281,118.271474,1410.337134,1807.960817,31.468209
std,15748.138774,272.063662,2.719711e+08,1.875088,18.171889,0.075203,0.854494,14.373569,0.239509,112.197170,...,113.767857,113.638372,96.495769,2022.414075,20.643244,22095.586134,38.289680,603.679275,756.826504,15.058860
min,0.000000,51001.000000,5.100109e+10,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,44420.000000,51059.000000,5.105948e+10,1.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,10.000000,3938.000000,17.880000,78800.000000,92.000000,997.000000,1311.000000,21.000000
50%,47894.000000,51107.000000,5.110761e+10,1.000000,1.000000,2.000000,1.000000,31.000000,1.000000,2.000000,...,1.000000,2.000000,10.000000,5261.000000,32.130000,84900.000000,115.000000,1356.000000,1739.000000,30.000000
75%,47894.000000,51510.000000,5.151020e+10,4.000000,3.000000,2.000000,2.000000,31.000000,1.000000,2.000000,...,1.000000,6.000000,10.000000,6598.000000,48.090000,118700.000000,143.000000,1771.000000,2231.000000,40.000000
max,99999.000000,51840.000000,5.184000e+10,8.000000,72.000000,2.000000,4.000000,32.000000,2.000000,1111.000000,...,1111.000000,1111.000000,1111.000000,15068.000000,100.000000,118700.000000,315.000000,3985.000000,4881.000000,76.000000

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822454 entries, 0 to 822453
Data columns (total 59 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   lei                                       822454 non-null  object
 1   derived_msa-md                            822454 non-null  int64
 2   county_code                               820483 non-null  float64
 3   census_tract                              820049 non-null  float64
 4   conforming_loan_limit                     821471 non-null  object
 5   derived_loan_product_type                 822454 non-null  object
 6   derived_dwelling_category                 822454 non-null  object
 7   derived_ethnicity                         822454 non-null  object
 8   derived_race                              822454 non-null  object
 9   derived_sex                               822454 non-null  object
 10  action_taken                              822454 non-null  int64
 11  purchaser_type                            822454 non-null  int64
 12  preapproval                               822454 non-null  int64
 13  loan_type                                 822454 non-null  int64
 14  loan_purpose                              822454 non-null  int64
 15  lien_status                               822454 non-null  int64
 16  reverse_mortgage                          822454 non-null  int64
 17  open-end_line_of_credit                   822454 non-null  int64
 18  business_or_commercial_purpose            822454 non-null  int64
 19  loan_amount                               822454 non-null  float64
 20  hoepa_status                              822454 non-null  int64
 21  loan_term                                 817814 non-null  object
 22  negative_amortization                     822454 non-null  int64
 23  interest_only_payment                     822454 non-null  int64
 24  balloon_payment                           822454 non-null  int64
 25  other_nonamortizing_features              822454 non-null  int64
 26  construction_method                       822454 non-null  int64
 27  occupancy_type                            822454 non-null  int64
 28  manufactured_home_secured_property_type   822454 non-null  int64
 29  manufactured_home_land_property_interest  822454 non-null  int64
 30  total_units                               822454 non-null  object
 31  applicant_credit_score_type               822454 non-null  int64
 32  co-applicant_credit_score_type            822454 non-null  int64
 33  applicant_ethnicity-1                     822212 non-null  float64
 34  co-applicant_ethnicity-1                  822383 non-null  float64
 35  applicant_ethnicity_observed              822454 non-null  int64
 36  co-applicant_ethnicity_observed           822454 non-null  int64
 37  applicant_race-1                          822383 non-null  float64
 38  co-applicant_race-1                       822432 non-null  float64
 39  applicant_race_observed                   822454 non-null  int64
 40  co-applicant_race_observed                822454 non-null  int64
 41  applicant_sex                             822454 non-null  int64
 42  co-applicant_sex                          822454 non-null  int64
 43  applicant_sex_observed                    822454 non-null  int64
 44  co-applicant_sex_observed                 822454 non-null  int64
 45  applicant_age                             822454 non-null  object
 46  co-applicant_age                          822454 non-null  object
 47  applicant_age_above_62                    744420 non-null  object
 48  submission_of_application                 822454 non-null  int64
 49  initially_payable_to_institution          822454 non-null  int64
 50  aus-1                                     822454 non-null  int64
 51  denial_reason-1                           822454 non-null  int64
 52  tract_population                          822454 non-null  int64
 53  tract_minority_population_percent         822454 non-null  float64
 54  ffiec_msa_md_median_family_income         822454 non-null  int64
 55  tract_to_msa_income_percentage            822454 non-null  int64
 56  tract_owner_occupied_units                822454 non-null  int64
 57  tract_one_to_four_family_homes            822454 non-null  int64
 58  tract_median_age_of_housing_units         822454 non-null  int64
dtypes: float64(8), int64(39), object(12)
memory usage: 370.2+ MB

In [71]:
unique_counts = pd.DataFrame.from_records([(col, df[col].nunique()) for col in df.columns],
                          columns=['Column_Name', 'Num_Unique']).sort_values(by=['Num_Unique'])
unique_counts

                                 Column_Name  Num_Unique
47                    applicant_age_above_62           2
26                       construction_method           2
12                               preapproval           2
15                               lien_status           2
43                    applicant_sex_observed           3
39                   applicant_race_observed           3
35              applicant_ethnicity_observed           3
27                            occupancy_type           3
25              other_nonamortizing_features           3
24                           balloon_payment           3
22                     negative_amortization           3
20                              hoepa_status           3
18            business_or_commercial_purpose           3
17                   open-end_line_of_credit           3
16                          reverse_mortgage           3
23                     interest_only_payment           3
4                      conforming_loan_limit           3
13                                 loan_type           4
44                 co-applicant_sex_observed           4
9                                derived_sex           4
49          initially_payable_to_institution           4
40                co-applicant_race_observed           4
36           co-applicant_ethnicity_observed           4
6                  derived_dwelling_category           4
28   manufactured_home_secured_property_type           4
48                 submission_of_application           4
41                             applicant_sex           5
7                          derived_ethnicity           5
42                          co-applicant_sex           6
14                              loan_purpose           6
29  manufactured_home_land_property_interest           6
5                  derived_loan_product_type           7
50                                     aus-1           7
45                             applicant_age           8
33                     applicant_ethnicity-1           8
10                              action_taken           8
34                  co-applicant_ethnicity-1           9
46                          co-applicant_age           9
8                               derived_race           9
30                               total_units           9
31               applicant_credit_score_type          10
51                           denial_reason-1          11
11                            purchaser_type          11
32            co-applicant_credit_score_type          11
1                             derived_msa-md          13
54         ffiec_msa_md_median_family_income          13
37                          applicant_race-1          18
38                       co-applicant_race-1          19
58         tract_median_age_of_housing_units          69
2                                county_code         133
55            tract_to_msa_income_percentage         195
21                                 loan_term         507
19                               loan_amount         591
0                                        lei        1060
56                tract_owner_occupied_units        1215
57            tract_one_to_four_family_homes        1340
52                          tract_population        1619
53         tract_minority_population_percent        1650
3                               census_tract        1865